<!-- IF not S_IS_BOT and S_USER_LOGGED_IN and U_ACP -->
	<h3>{L_SYSTEM_INFO}</h3>
	<p>{L_SYSTEM_NAME} <strong>{PHP_OS}</strong> &bull; {L_BOARD_VERSION}{L_COLON} <strong>{BOARD_VERSION}</strong><br />
	{L_SYSTEM_UPTIME} <strong>{UPTIME_DAYS}</strong> {L_SYSTEM_DAYS} <strong>{UPTIME_HOURS}</strong> {L_SYSTEM_HOURS} <strong>{UPTIME_MINS}</strong> {L_SYSTEM_MIN} <strong>{UPTIME_SECS}</strong> {L_SYSTEM_SECS} &bull; {L_SYSTEM_LOAD} <strong>{AVG_LOAD0}</strong> &bull; <strong>{AVG_LOAD1}</strong> &bull; <strong>{AVG_LOAD2}</strong></p>
<!-- ENDIF -->	